body {
    font-family: Arial, sans-serif;
    background-color: #99ff99;
    background-image: url('kepek/hatter1.jpg');
    background-position: center;
    background-size:90%;
    margin: 0;
    padding: 0;
}