body {
    background-color: black;
    width : 100%;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
    color: yellow;
}



a {
    font-size: 15pt;
    text-decoration: none;
    color: yellow;
    padding: 2%;
    
}

a:hover {
    color: lightblue;
}

p {
    text-align: justify;
}

footer {
    color: lightblue;
    text-align: center;
    padding: 1%;
}