header {
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
}

section {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    background-size: border-box 10px 10px;
    box-shadow:  0 0 10px;
    margin: 0;
    padding: 0;
}